body{
    background-color: #37d6c9;
    background-image:url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png');
}
h1 {
color: #46484c;
text-align: center;
}


p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}
button {
color: #fff;
background-color: #025157;

}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right:20px;
    height: 45px;
    font-size:0;
   font-family: sans-serif;
}

li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo {
    width: 15%;
}
.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions a {
    color: #025157;
}
.actions > *{
    margin-right: 10px;
    margin-left: 10px;
}
.actions button {
    color: #fff;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 8px;
}



